#errorCatcher Echo
#encoding UTF-8
#set global $page = "about"

    #include "header.html.tmpl"

    <div class="site-inner">
        <main class="content">	
            <article class="weewx about" itemscope itemtype="https://schema.org/CreativeWork">
                
                <script type="text/javascript">
                    var graph = getURLvar("graph");
                    if ( graph === undefined ) {
                        // If no URL VAR, default to the graph group defined in Extras
                        graph = "xday";
                    }
                    var thisPageGraphs = graphgroups_raw[graph];
                    
                    pages.push("about");  // wird benoetigt, damit die korrekte json-Datei gefunden wird !
                    
                    function autoRefreshPage() {
                        window.location = window.location.href;
                    }
                    setInterval('autoRefreshPage()',$Extras.webpage_autorefresh);
                    
                    jQuery(document).ready(function() {
                            // Loop through the graph group for this page and add the graph divs to the page
                            try {
                                thisPageGraphs.forEach( graphID => {
                                    jQuery(".graph-outer").append('<div class="col-sm-12"><div id="' + graphID + '" style="width:100%;height:100%;margin-top:20px;"></div></div>');
                                });
                                
                                // Set page title
                                jQuery(".graphpage-title").html(graphgroups_titles[graph]);
                                
                                // Set page content
                                jQuery(".graphpage-content").html(graphpage_content[graph]);
                                
                                // Render the charts
                                showChart(graph);
                            } catch(err) {
                                console.log("ERROR: Cannot add graphs from [" + graph + "] graph group: " + err.message);
                            }
                    });
                </script>
                
                #include "page-header.inc"
                
                <p>$current.dateTime.format("%d.%m.%Y %H:%M")</p>

                <div class="graphpage-content col-sm-12"></div><!-- JS populated -->
                
                <div class="graph-outer"></div><!-- JS populated -->
                
                <div class="clear"></div>

                <hr>

                <table style="width: inherit !important;">
                  <tr>
                    <td>Letzte Aktualisierung:</td>
                    <td>$current.dateTime.format("%d.%m.%Y %H:%M")</td>
                  </tr>
<!--                  
                  <tr>
                    <td>VP2 ISS Empfangsqualität:</td>
                    <td>$latest.rxCheckPercent.format(format_string="%.1f",None_string="-",add_label=False) %</td>
                  </tr>
                  <tr>
                    <td>VP2 Leaf Empfangsqualität:</td>
                    <td>$latest.signal8.format(format_string="%.1f",None_string="-",add_label=False) %</td>
                  </tr>
                  <tr>
                    <td>VP2 Batterie ISS low:</td>
                    <td>$current.txBatteryStatus.format(format_string="%.f",None_string="-",add_label=False)</td>
                  </tr>
                  <tr>
                    <td>VP2 Batterie Leaf low:</td>
                    <td>$current.rainBatteryStatus.format(format_string="%.f",None_string="-",add_label=False)</td>
                  </tr>
-->
<!--                  
                  <tr>
                    <td>VP2 Batterie Konsole:</td>
                    <td>$current.bat_th_2.format(format_string="%.1f",None_string="-",add_label=False)</td>
                  </tr>
                  <tr>
                    <td>VP2 Solar ISS:</td>
                    <td>$current.referenceVoltage.format(format_string="%.1f",None_string="-",add_label=False)</td>
                  </tr>
-->
                  <tr>
                    <td>CPU Temperatur:</td>
                    <td>$latest($data_binding='cmon_binding').cpu_temp.format(format_string="%.1f",None_string="-",add_label=False) °C</td>
                  </tr>
                  <tr>
                    <td>SSD used:</td>
                    <td>$latest($data_binding='cmon_binding').disk_root_used.format(format_string="%,.3f",None_string="-",add_label=False) GB</td>
                  </tr>
                  <tr>
                    <td>SSD total:</td>
                    <td>$latest($data_binding='cmon_binding').disk_root_total.format(format_string="%,.3f",None_string="-",add_label=False) GB</td>
                  </tr>
                  <tr>
                    <td>Memory used:</td>
                    <td>$latest($data_binding='cmon_binding').mem_used.format(format_string="%,.3f",None_string="-",add_label=False) MB</td>
                  </tr>
                  <tr>
                    <td>Memory total:</td>
                    <td>$latest($data_binding='cmon_binding').mem_total.format(format_string="%,.3f",None_string="-",add_label=False) MB</td>
                  </tr>
                  <tr>
                    <td>Netzwerk rx:</td>
                    <td>$latest($data_binding='cmon_binding').net_eth0_rbytes.format(format_string="%,.3f",None_string="-",add_label=False) MB</td>
                  </tr>
                  <tr>
                    <td>Netzwerk tx:</td>
                    <td>$latest($data_binding='cmon_binding').net_eth0_tbytes.format(format_string="%,.3f",None_string="-",add_label=False) MB</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>PV:</td>
                    <td>$current.pv.format(format_string="%.1f",None_string="-")</td>
                  </tr>
                  <tr>
                    <td>PV Ost:</td>
                    <td>$current.pv_ost.format(format_string="%.1f",None_string="-")</td>
                  </tr>
                  <tr>
                    <td>PV Süd:</td>
                    <td>$current.pv_sued.format(format_string="%.1f",None_string="-")</td>
                  </tr>
                  <tr>
                    <td>PV West:</td>
                    <td>$current.pv_west.format(format_string="%.1f",None_string="-")</td>
                  </tr>
                  <tr>
                    <td>Netzbezug:</td>
                    <td>$current.netzbezug.format(format_string="%.1f",None_string="-")</td>
                  </tr>
                  <tr>
                    <td>Netzlieferung:</td>
                    <td>$current.netzlieferung.format(format_string="%.1f",None_string="-")</td>
                  </tr>
                  <tr>
                    <td>Eigenverbrauch:</td>
                    <td>$current.eigenverbrauch.format(format_string="%.1f",None_string="-")</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Wetterstation:</td>
                    <td>Davis Vantage Pro 2</td>
                  </tr>
                  <tr>
                    <td>Wetterstation Schnittstelle: </td>
                    <td>$station.hardware</td>
                  </tr>
                  <tr>
                    <td>Server Laufzeit:</td>
                    <td>$station.os_uptime</td>
                  </tr>
                  <tr>
                    <td>WeeWX Laufzeit:</td>
                    <td>$station.uptime</td>
                  </tr>
                  <tr>
                    <td>WeeWX Version:</td>
                    <td>$station.version</td>
                  </tr>
                  <tr>
                    <td>Belchertown Skin Version:</td>
                    <td>$belchertown_version</td>
                  </tr>
                </table>
                                
            </article>
        </main>
    </div>


    #include "footer.html.tmpl"
